.operations{
    display: grid;
    width: 240px;
    margin: 100px auto;
    /* margin: auto; */
    justify-content: center;
    align-content: center;
    min-height: 100%;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(80px, auto) repeat(5, 50px);
    box-shadow: 18px 24px 77px -24px rgba(0,0,0,0.81);
    border-radius: 10px;
    
}
button{
    cursor: pointer;
    background-color: rgb(131, 134, 139);
    color: whitesmoke;
    font-size: 1rem;
    outline: none;
    border: thin solid rgb(91, 95, 102);
}
button:hover{
    background-color: #719192;
}
.operator{
    background-color: orange;   
}
.operator:hover{
    background-color: #b52b65;
}
.gray{
    background-color: rgb(106, 110, 116);
}

.content{
    margin-top: 150px;
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background-color: rgb(91, 95, 102);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.2rem;
}
.output .current-operand{
    color: white; 
    font-size: 1.5rem;
}
.roundEdge{
    border-bottom-right-radius: 10px;
}
button.zero.span-two{
    border-bottom-left-radius: 10px;
}
h2{
    width: 800px;
    margin: auto;
}


